body{
    background-color: rgb(31, 27, 29) ;
    width:100%;
    }
    
nav{
    position: sticky;
    top: 50px; 

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 2;

  }
  
 
  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  
 
  li {
    margin: 0 10px;
    
  }
  

  a {
    display: block;
    padding: 15px 120px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    border-radius: 30px; 
  }
  

  li:first-child a {
    background-color: rgb(247, 206, 146);
    transition: background-color 0.4s ease, transform 0.4s ease;
  }
  
  li:first-child a:hover {
    background-color: rgb(233, 157, 59);
    transform-origin: center;
    transform: rotate(3deg);
  }
  
  li:nth-child(2) a {
    background-color: rgb(247, 206, 146);
    transition: background-color 0.4s ease, transform 0.4s ease;
  }
  
  li:nth-child(2) a:hover {
    background-color: rgb(233, 157, 59);
    transform-origin: center;
    transform: rotate(3deg);
  }
  
  li:nth-child(3) a {
    background-color: rgb(247, 206, 146);
    transition: background-color 0.4s ease, transform 0.4s ease;
  }
  
  li:nth-child(3) a:hover {
    background-color: rgb(233, 157, 59);
    transform-origin: center;
    transform: rotate(3deg);
  }
  li:nth-child(4) a {
    background-color: rgb(247, 206, 146);
    transition: background-color 0.4s ease, transform 0.4s ease;
  }
  
  li:nth-child(4) a:hover {
    background-color: rgb(233, 157, 59);
    transform-origin: center;
    transform: rotate(3deg);
  }



.container {
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    flex-wrap: wrap;
    margin: 100px;
    padding:30px;
    border: 5px solid rgb(247, 206, 146);
    border-radius: 15px;
}


#alban{
    border-radius: 100%;
    width: 250px;
    margin-right: 30px; 
    animation-duration: 3s;
    animation-name: slide-in;
    animation-iteration-count: 1;
}

#img1{
    width: 50px; 
    margin-right: 30px; 
    animation: fadeInUp 3s ease-in-out;;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
}
#img1:hover{
    transform: scale(1.5);
}

#lien {
    display: flex;
    align-items: center;
}



#link {
    background-color: rgb(247, 206, 146);
    padding: 15px 40px;
    transition: transform 0.3s ease, box-shadow 0.3s ease, background 0.3s ease;
    animation: fadeInUp 3s ease-in-out;
}


#link:hover {
    transform: scale(1.1);
    box-shadow: 0 10px 20px rgba(253, 126, 0, 0.6);
    background-color: rgb(233, 157, 59);
}


@keyframes fadeInUp {
    0% {
        opacity: 0;
        transform: translateY(50px);
    }
    100% {
        opacity: 1;
        transform: translateY(0);
    }
}

#linkedin{
    padding-left: 110px;
    padding-right: 90px;
  }


.text {
    display: flex;
    flex-direction: column;
}


h1 {
    font-family: "Allura", cursive;
    font-size: 100px;
    color: rgb(247, 206, 146);
    margin-bottom: 0; 
    margin-left: 40px;
    animation-duration: 3s;
    animation-name: slide-in;
    animation-iteration-count: 1;
}


p {
    font-family: "Allura", cursive;
    font-size: 31px;
    color: white;
    margin-top: 10px;
     animation-duration: 3s;
    animation-name: slide-in;
    animation-iteration-count: 1;

}
@keyframes slide-in {
    from {
      translate: 150vw 0;
      scale: 200% 1;
    }
  
    to {
      translate: 0 0;
      scale: 100% 1;
    }
  }

  nav ul li a {
    transition: box-shadow 0.2s ease;
  }
  
  nav ul li a.active {
    box-shadow: inset 0 4px 6px rgba(0,0,0,0.2);
    background-color: #555;
    color: rgb(247, 206, 146);
    border-radius: 30px;
  }

  @media (max-width: 1200px) {

    nav ul {
        flex-wrap: wrap;
        justify-content: center;
    }
  
    nav ul li {
        width: 50%;      
        display: flex;
        justify-content: center;
        margin: 5px 0;
    }
  
    nav ul li a {
        padding: 10px 80px;   
        font-size: 16px;
        width: 100%;           
    }
  }
  
  @media (max-width: 800px) {
  
    nav ul {
        flex-wrap: wrap;
        justify-content: center;
    }
  
    nav ul li {
        width: 50%;      
        display: flex;
        justify-content: center;
        margin: 5px 0;
    }
  
    nav ul li a {
        padding: 10px 20px;   
        font-size: 16px;
        width: 90%;           
    }
  }
