body{
    background-color: rgb(31, 27, 29) ;
    width:100%;
    }
    
nav{
    position: sticky;
    top: 50px; 

    display: flex;
    justify-content: center;
    align-items: center;
    flex-wrap: wrap;
    z-index: 2;

  }

  nav ul li a {
    transition: box-shadow 0.2s ease;
  }
  
  nav ul li a.active {
    box-shadow: inset 0 4px 6px rgba(0,0,0,0.2);
    background-color: #555;
    color: rgb(247, 206, 146);
    border-radius: 30px;
  }
  

  ul {
    list-style-type: none;
    padding: 0;
    margin: 0;
    display: flex;
  }
  

  li {
    margin: 0 10px;
    
  }
  

  a {
    display: block;
    padding: 15px 120px;
    color: rgb(0, 0, 0);
    text-decoration: none;
    text-align: center;
    font-size: 18px;
    border-radius: 30px;
  }
  
 
  li:first-child a {
    background-color: rgb(247, 206, 146);
    transition: background-color 0.4s ease, transform 0.4s ease;
  }
  
  li:first-child a:hover {
    background-color: rgb(233, 157, 59);
    transform-origin: center;
    transform: rotate(3deg);
  }
  
  li:nth-child(2) a {
    background-color: rgb(247, 206, 146);
    transition: background-color 0.4s ease, transform 0.4s ease;
  }
  
  li:nth-child(2) a:hover {
    background-color: rgb(233, 157, 59);
    transform-origin: center;
    transform: rotate(3deg);
  }
  
  li:nth-child(3) a {
    background-color: rgb(247, 206, 146);
    transition: background-color 0.4s ease, transform 0.4s ease;
  }
  
  li:nth-child(3) a:hover {
    background-color: rgb(233, 157, 59);
    transform-origin: center;
    transform: rotate(3deg);
  }
  li:nth-child(4) a {
    background-color: rgb(247, 206, 146);
    transition: background-color 0.4s ease, transform 0.4s ease;
  }
  
  li:nth-child(4) a:hover {
    background-color: rgb(233, 157, 59);
    transform-origin: center;
    transform: rotate(3deg);
  }




.galerie-container {
  display: flex;
  justify-content: center; 
  align-items: flex-start;
  margin: 80px auto; 
  padding: 40px 60px;
  max-width: 1200px;
  border: 5px solid rgb(247, 206, 146);
  border-radius: 15px;
  gap: 50px;
  flex-wrap: wrap;
}


.grille-images {
  display: grid;
  grid-template-columns:  1fr 1fr ;
  gap: 100px;
  flex-shrink: 0;
}

.image-zoom {
  width: 200px;
  height: 150px;
  object-fit: scale-down;
  border-radius: 12px;
  transition: transform 0.4s ease, box-shadow 0.3s ease;
  cursor: pointer;
   animation: zoomInOut 2s ease-in-out ;
}


.image-zoom:hover {
  transform: scale(4);
  z-index: 10;
  box-shadow: 0 20px 35px rgba(0, 0, 0, 0.5);
}


.texte-explicatif {
  flex: 1;
  min-width: 350px;
}

.texte-explicatif h2 {
  font-family: "Allura", cursive;
  font-size: 100px;
  margin-bottom: 15px;
  color: rgb(247, 206, 146);
}

.texte-explicatif p {
  font-family: "Caveat", cursive;
  font-size: 25px;
  color: white;
  line-height: 1.8;
}

@keyframes zoomInOut {
  0%, 100% {
    transform: scale(1);
  }
  50% {
    transform: scale(1.3);
  }
}

